body{
    background-color: black;
    color:white;
}
#container{
    display:flex;
    flex-direction:column;
    align-content:center;
    background-color: rgba(157, 77, 116,0.5);
    border-radius: 25px;
    height:300px;
    width:320px;
}
#heading{
    align-self: center;
    
}
#readings{
    display:flex;
    padding:20px;
    justify-content: center;
    align-items:flex-start;
}
#inputDiv{
    
    border-radius: 5px;
    width:200px;
    padding:5px;
    height:20px;
}
#Button{
    display:flex;
    justify-content: center;
    padding:20px;
}
#submitBtn{
    margin-top:20px;
    border-radius: 3px;
    padding:5px;
    width:100px;
}
#resultDiv{
    padding:150px;
}